.button {
    background-color: rgb(244, 160, 243);
    color: white;
  }
  
  .button:hover {
    background-color: white;
    color:  rgb(244, 160, 243);
  }

  .button:active {
    background-color: rgb(238, 124, 237);
    color: white;
  }