#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-image {
  width: 200px;
  height: 200px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.single-card {
  align-items: center;
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 16px;
  padding-top: 16px;
}

.add-button {
  align-self: center;
  margin-bottom: 16px;
}

.card-title {
  color: #1a1a1a;
  height: 50px;
  margin-top: 30px;
  margin-bottom: 12px;
  padding: 0 10px;
  text-overflow: ellipsis;
  text-wrap: nowrap;
  overflow: hidden;
}

.card-price {
  color: #1a1a1a;
}
